@mixin flex-with-space-between {
    display: flex;
    justify-content: space-between;
}

@mixin wrapper-menu {
    height: 100%;
    @include flex-with-space-between;
    align-items: center;
}

@mixin styles-for-button {
    color: #fff;
    padding: 22px 0px;
    background-color: $primary-color;
    font-size: 13px;
    border-radius: 4px;
    border-top: 2px solid #ffffff;
    text-transform: uppercase;
    margin-right: 28px;
    min-width: 166px;
    text-align: center;
}

@mixin styles-for-slider {
    padding: 24px 28px;
    font-size: 20px;
    cursor: pointer;
    background-color: #3c4140;
    color: #878787;
}

@mixin primary-border-top {
    border-top: 7px solid $primary-color;
    color: $primary-color;
}

@mixin white-border-top {
    border-top: 7px solid $second-color;
    color: $second-color;
}

@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin blocks {
    width: 25%;
    height: 374px;
}
