.our-work {
    padding: 100px 0px;

    .filters {
        @include row;
        justify-content: center;
        margin-top: 70px;
        margin-bottom: 70px;

        div {
            border: 1px solid #ebebeb;
            padding: 20px 22px;
            color: $fourth-color;
            font-size: 14px;
            font-weight: 600;
            position: relative;
            cursor: pointer;

            &.active::before {
                content: "";
                position: absolute;
                right: 0;
                bottom: 0;
                top: -3px;
                left: -1px;
                height: 2px;
                background-color: $primary-color;
                width: calc(100% + 2px);
            }

            &:hover {
                color: $primary-color;
            }
        }

        div:nth-child(2) {
            border-left: none;
            border-right: none;
        }

        div:nth-child(4) {
            border-left: none;
            border-right: none;
        }
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .items {
            width: 25%;
            @include column;
        }



    }











}
