@media only screen and (max-width: 768px) {
    header {

        .menu-container {
            width: 700px;
        }

        .wrapper {
            padding: 0 15px;

            .menus {
                display: none;
            }
        }

        .jumbotron {
            padding: 110px 0px;
            padding-bottom: 350px;

            .menu-container {
                width: 700px;
            }

            .titles h3 {
                font-size: 29px;
                margin-bottom: 60px;
            }


            .actions .prewiew {
                top: 125px;
                left: 0;
                width: 170px;
                margin: 0 auto;
            }

            a.button.right-indent {
                margin-right: 0px;
            }
        }

        .flex-container {
            .element {
                height: 172px;

                .feature {
                    font-size: 11px;
                }

                img {
                    height: 40px;
                    margin-bottom: 25px;
                }

            }
        }

    }

    section.features {
        padding: 60px 15px;

        .container {
            width: 100%;
        }

        .grid {
            justify-content: center;

            p {
                font-size: 18px;
            }
        }
    }
}


@media only screen and (max-width: 1024px) {

    header {

        .menu-container {
            width: 995px;
        }

        .wrapper {
            padding: 0 15px;

            .menus {
                display: none;
            }
        }

        .jumbotron {
            padding: 100px 0px;
            padding-bottom: 350px;

            .menu-container {
                width: 700px;
            }

            .titles h1 {
                margin-bottom: 12px;
            }

            .titles h2 {
                margin-top: 42px;
            }

            .titles h3 {
                font-size: 29px;
                margin-bottom: 85px;
                margin-top: 52px;
            }

            .actions .prewiew {
                top: 130px;
                left: 0;
                width: 170px;
                margin: 0 auto;
            }

            a.button.right-indent {
                margin-right: 0px;
            }
        }

        .flex-container {
            .element {
                height: 172px;

                .feature {
                    font-size: 15px;
                }

                img {
                    height: 53px;
                    margin-bottom: 25px;
                }

            }
        }

    }

    section.features {
        padding: 75px 15px;

        .container {
            width: 100%;
        }

        .grid {
            justify-content: center;

            p {
                font-size: 23px;
                line-height: 35px;
            }

            .icon-with-title {
                font-size: 25px;
            }

            .item {
                width: 450px;
                padding: 0 12px;
                margin-bottom: 25px;
            }
        }
    }
}


@media only screen and (max-width: 480px) {
    header {

        .menu-container {
            width: 100%;
        }

        .wrapper {
            padding: 0 15px;
            
            .logo{
                margin: 0 auto;
            }

            .menus {
                display: none;
            }
        }

        .jumbotron {
            padding: 110px 15px;
            padding-bottom: 305px;

            .menu-container {
                width: 100%;
            }

            .titles h1 {
                font-size: 19px;
            }

            .titles h2 {
                font-size: 30px;
            }

            .titles h3 {
                font-size: 19px;
                margin-bottom: 55px;
                margin-top: 20px;
            }
            
            .actions{
                flex-direction: column;
                a.button{
                    margin-right: 0px;
                    margin-bottom: 23px;
                }
            }
            
            .actions .prewiew {
                top: 205px;
                left: 0;
                width: 170px;
                margin: 0 auto;
            }
        }

        .flex-container {
            flex-wrap: wrap;

            .element {
                height: 175px;
                width: 50%;


                .feature {
                    font-size: 13px;
                }

                img {
                    height: 35px;
                    margin-bottom: 15px;
                }

            }
            
            .element:nth-child(1) {
                order: 1;
            }
            
            .element:nth-child(2) {
                order: 2;
            }

            .element:nth-child(3) {
                order: 4;
                border-top: none;
            }

            .element:nth-child(4) {
                order: 3;
                border-top: none;
            }
        }
    }

    section.features {
        padding: 85px 20px;

        .container {
            width: 100%;
        }

        .grid {
            justify-content: center;

            p {
                font-size: 20px;
            }

            .icon-with-title {
                font-size: 23px;
            }
            
            .icon-with-title i{
                padding-right: 10px;
            }


            .item {
                padding: 0 0px;
            }

        }

        .main-title::after {
            content: "";
            position: absolute;
            background-image: url(../img/3-layers.png);
            width: 88px;
            height: 5px;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 105px;
        }

        h2 {
            font-size: 30px;
        }
    }
}


















