    section.features {
        padding: 99px 0px;

        .grid {
            display: flex;
            flex-direction: row;
            margin-top: 75px;
            flex-wrap: wrap;
            justify-content: space-between;


            .item {
                display: flex;
                flex-direction: column;
                width: 325px;
            }

            p {
                color: #777777;
                font-size: 13px;
                font-weight: 300;
                line-height: 25px;
            }

            .icon-with-title i {
                padding-right: 25px;
                font-size: 20px;
                color: $primary-color;

            }

            .icon-with-title {
                color: $fourth-color;
                font-size: 18px;
                font-weight: 700;
                line-height: 40px;
            }

            .item {
                &:hover .icon-with-title {
                    color: $primary-color;
                    cursor: pointer;
                }
            }
        }
    }
