.team {
    padding: 100px 0px;

    .grid {
        @include row;
        margin-top: 70px;
        justify-content: space-between;

        .team-item {
            width: 23%;
            @include column;
            justify-content: space-between;
            cursor: pointer;


            .photo {
                display: flex;
                height: 229px;
                width: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .description {
                background-color: $ninth-color;
                width: 100%;
                @include column;

                &.active {
                    background-color: $primary-color;
                }

                .name {
                    color: $second-color;
                    font-size: 16px;
                    font-weight: 700;
                    margin-top: 22px;
                    margin-bottom: 14px;
                    padding-left: 25px;
                }


                .job {
                    font-size: 13px;
                    font-weight: 300;
                    color: $primary-color;
                    padding-left: 25px;
                    margin-bottom: 15px;

                    &.active {
                        color: black;
                    }

                }
            }


            .social {
                width: 100%;
                background-color: $ninth-color;
                display: flex;

                &.active {
                    background-color: $primary-color;
                }


                a.icon {
                    text-decoration: none;
                    color: #fff;
                    border: 1px solid;
                    flex-direction: column;
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    padding: 20px 0px;
                    align-items: center;

                    i {
                        font-size: 23px;
                    }
                }

            }

        }

    }

}
