$primary-color:#18cfab;
$color-menu-link:#b8b8b8;
$second-color:#fff;
$third-color:#00cbf6;
$fourth-color:#717171;
$fifth-color:#777777;
$sixth-color:#25333c;
$seventh-color:#e3e3e3;
$eighth-color:#bbbbbb;
$ninth-color:#2e4a5b;
$tenth-color:#b2b2b2;
